/* src/Styles/ForumPageStyles.css */

  .forum-page {
    margin: 0 auto;
  }
  
  .forum-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .search-container {
    margin-bottom: 30px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
  }
  
  .forum-main-content {
    display: flex;
    gap: 30px;
  }
  
  .forum-trending-topics {
    width: 25%;
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .forum-trending-topics h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .forum-trending-topics ul {
    list-style-type: none;
    padding: 0;
  }
  
  .trending-topic-link {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 1rem;
  }
  
  .trending-topic-link:hover {
    text-decoration: underline;
  }
  
  .forum-posts-container {
    width: 70%;
  }
  
  .forum-post {
    background-color: var(--card-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
  }
  
  .post-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .post-author {
    color: var(--secondary-text-color);
    font-size: 0.9rem;
  }
  
  .post-body p {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  .post-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .post-replies {
    font-size: 1rem;
  }
  
  .post-read-more-btn {
    background-color: var(--primary-color);
    color: var(--theme-color);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-read-more-btn:hover {
    background-color: darken(var(--primary-color), 10%);
  }
  
  .reply-container {
    margin-top: 20px;
  }

  
  .submit-reply-btn {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-reply-btn:hover {
    background-color: var(--accent-color);
  }
  
  .forum-categories {
    margin-top: 30px;
  }
  
  .forum-categories h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .forum-category-link {
    color: var(--secondary-text-color);
    font-size: 1rem;
    text-decoration: none;
  }
  
  .forum-category-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .forum-main-content {
      flex-direction: column;
    }
  
    .forum-trending-topics, .forum-posts-container {
      width: 100%;
    }
  }
  