/* src/components/HeaderStyles.css */

.header {
    background: var(--hero-gradient);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme-color);
}

.header-logo h1 {
    font-size: 2rem;
    color: var(--theme-color);
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.nav-link {
    color: var(--theme-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--accent-color);
}

.nav-link span {
    font-size: 1rem;
}

.menu-toggle {
    background: none;
    color: var(--theme-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* Toggle switch container styles */
.toggle-switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Input checkbox styles */
.toggle-input {
    position: absolute;
    appearance: none;
    /* Hide default checkbox */
    width: 40px;
    height: 20px;
    background-color: var(--background-color);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    margin-right: 10px;
    /* Space between checkbox and label */
}


/* Switch ball styles */
.toggle-input::before {
    content: '☀';
    color: #FFA500;
    /* Sun color */
    margin: 1px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    border-radius: 9px;
    transition: transform 0.3s;
}


.toggle-input:checked::before {
    content: '🌙';
    margin: 1px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    border-radius: 9px;
    transform: translateX(20px);
}


@media (max-width: 768px) {
    .header-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .header-nav.open {
        display: flex;
    }

    .header-nav.closed {
        display: none;
    }
}