/* src/components/QuizPage.css */
.quiz-page {
    margin: 0 auto;
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--card-bg-color);
    box-shadow: 0px 6px 20px var(--border-color);
    position: relative;
}
.quiz-page h2{
    text-align: center;
}
.center-text{
    text-align: center;
}


button, .quiz-button{
    padding: 10px 20px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover, .quiz-button:hover {
    background-color: var(--primary-color);
}
.quiz-page button{
    position: absolute;
    background-color: var(--primary-color);
    right:5%;
}

.questions {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}


/* src/components/QuizCard.css */
.quiz-card {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.quiz-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
}

.quiz-title {
    font-size: 1.8rem;
    color: #333;
}

.quiz-description {
    color: #666;
    font-size: 1rem;
}


/* src/components/QuizList.css */
.quiz-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  