/* src/Styles/SettingsStyles.css */

  
  .settings-page {
  }
  
  .settings-sections {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .settings-section {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .settings-section h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .settings-section label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
  
  .settings-section button {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .settings-section button:hover {
    background-color: var(--primary-color);
  }
  
  .theme-settings .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .theme-settings .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .theme-settings .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .theme-settings .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--primary-color);
    left: 4px;
    bottom: 3px;
    transition: 0.4s;
  }
  
  .theme-settings input:checked + .slider:before {
    transform: translateX(18px);
  }
  .theme-mode-label{
    margin-left: 1rem;
  }
  
  @media (max-width: 1024px) {
    .settings-sections {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
    .settings-sections {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .settings-page {
      padding: 20px;
    }
  
    .settings-section {
      padding: 15px;
    }
  }
  