.app-content{
    padding: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

@media (max-width:480px) {
    .app-content{
        padding: 10px;
    }
}
